name: HACS Action

on:
  push:
    paths-ignore:
      - '.github/workflows/**'
    tags-ignore:
      - 'v*'



jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v5"
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
